<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- FlaskApp</title>
    <style>
        nav a {
            color: #171dce;
            font-size: 2em;
            margin-left: 50px;
        }
        table, th, td {   
         padding: 10px ;
         text-align: center;
         border: 1px solid ;
         border-collapse: collapse;
        }


    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('create') }}">Add Pet</a>
    </nav>
    <hr>
    <div>
        {% block content %} {% endblock %}
    </div>
</body>
</html>