<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Url Shortner</title>
</head>
<body>
        <form method="post">
                <label for="url">URL</label>
                <input type="text" name="url" placeholder="URL to shorten" value="{{ request.form['url'] }}"></input><br>
                <button type="submit">Submit</button>
        </form>
        {% if short_url %}
        <hr>
        <span><a href= "{{short_url}}" target="_blank">{{short_url}}</a></span><br>
        {% endif %}
        <hr>
        <ul>
        {% for i in d%}
            <li> <a href = "{{request.host_url + i}}" target="_blank">{{request.host_url + i}}</a> : {{d[i]}}</li>
        {% endfor%}
        </ul>
    
</body>
</html>